<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Buyoo.vip</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="/favicon.png"/>
  <meta name="apple-mobile-web-app-title" content="Buyoo.vip">
</head>
<body>
  <div id="root"></div>
</body>
</html>
